* {
  margin: 0;
  font-family: "Lora", sans-serif;
  /* background-color: #c97b84; */
}

#root{
  position: relative;
   background-color: white;
}
.my-photo {
  max-width: 300px;
  border-radius: 5px;
  margin: 1%;
}
.my-photo:hover {
  opacity: 0.8;
  cursor: pointer;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color:  white;
  margin-top: 200px;
  
}
header {
  background-color: white;
  padding: 1%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: sticky; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /* box-shadow:  0 8px 6px -6px black;  */
}
header h1 {
  margin-top: 3%;
  color: black;
  font-size: 50px;
  font-family: "Arial", sans-serif;
  
}
header h1:hover {

  color: black;
  opacity: 0.8;
  font-size: 50px;
  font-family: "Arial", sans-serif;
}
.navLinks {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
}
.navItem{
  color: black;
}
.navItem:hover {
  color: black !important;
  opacity: 0.8;
}
.bar{
  margin-left: 5px;
  margin-right: 5px;
}
.card {
  margin: 3%;
  padding: 3%;
  border-radius: 10px;
  display: flex;
  align-content: center;
  font-family: "Lora", sans-serif;
  color: black;
  transition: 0.3s ease;
}
.card:hover {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.473);
  border: 2px solid rgba(0, 0, 0, 0.74);
  transition: 1s ease;
}
.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  border: 200px solid white;
  width: auto;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: ease-in 1s;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.home-screen h1 {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px black;
  letter-spacing: 1em;
  margin-bottom: 1%;
}
.home-screen h3 {
  color: white;
  text-shadow: 1px 1px black;

}
.home-container{

margin-top: 80px;
}
.login-form{
  margin-top:80px;
  height:700px;
  display:flex;
  align-items: center;
  /* background: url("https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
fieldset {
  display: flex;
  max-width: 40em;
  padding: 20px;
  margin: 2em auto;
  border: 0 none;
  border-radius: 5px;
  color: black;

}

fieldset input, fieldset button, fieldset select{
  box-sizing: border-box;
  padding: .2em .4em;
  margin: .2em 0;
  outline: none;
  box-shadow: none;
}

fieldset button {
  max-width: 9em;
  padding: .5em;
  margin: .3em auto;
  background-color: cornflowerblue;
  border: none;
  color: cornsilk;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  align-self: center;
}

fieldset label {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-align: right;
}
fieldset input:focus + label {
  color: #933;
}

fieldset .formgrid {
  display: grid;
  grid-template-columns: 1fr 1em 2fr;
  grid-gap: .3em .6em;
  grid-auto-flow: dense;
  align-items: center;
}

fieldset input, fieldset button, fieldset select {
  grid-column: 2 /4;
  width: auto;
  margin: 0
}

fieldset .alignRight {
  text-align: right;
}
.button-container{
  width: 100%;
  color: black;
    display: flex;
    justify-content: center;

}
#icons:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .navLinks{
    margin-top: 0;
    visibility: hidden;
  }
  .home-container{
    margin-top: 60px;
 
  }
  .home-screen {
    border: none;
    margin-top: 90px;
  }
  .home-screen h1 {
    letter-spacing: .2em;
    margin-top: 2%;
    visibility: hidden;
  }
  .home-screen h3 {
    visibility: hidden;
  }
html {
  background: #292929;
  transition: ease-in 1s;
}
  header{
    transition: ease-in 1s;
    padding: 10px;
    background: none;
    margin-left: 10%;
    margin-top:1%;
  }
header h1 {
  color: white;
}
  .title {
    font-size: 30px;
    margin-left: 30px;
  }

}